{
  "rules_version": "2",
  "service": "cloud.firestore",
  "match": "/databases/{database}/documents",
  "allow": [
    {
      "match": "/rooms/{roomId}",
      "allow": ["read", "write"],
      "if": "true"
    },
    {
      "match": "/rooms/{roomId}/candidates/{candidateId}",
      "allow": ["read", "write"], 
      "if": "true"
    }
  ]
}